---
layout: default
title: Main Page
---

<!---- nav bar---->

<section id="navbar" class="min-h-10 px-20 bg-cream font-body-sans">
    <div class="grid lg:grid-cols-3 items-center uppercase">
        <div class="hidden md:flex items-center justify-around">
            <a href="#about" class="text-gold hover:text-gold/80">about</a>
            <a href="#services" class="text-gold hover:text-gold/80">services</a>
            <a href="#find" class="text-gold hover:text-gold/80">find us</a>
        </div>
        <div class="flex justify-center items-center">
            <a href="/index.html"><img src="/assets/images/sage-and-stone-logo-final-website.svg" class="h-32 w-auto"></a>
        </div>
        <div class="hidden lg:flex items-center justify-around">
            <a class="border-2 border-gold inline-flex items-center justify-center font-header-sans py-2 px-4 mr-2 md:px-12 md:my-5 md:mr-2 text-gold bg-cream rounded-full hover:bg-gold/80 hover:text-cream transition text-xs md:text-md" href="mailto:info@sageandstonewellness.co.uk" target="_blank">contact</a>
            <a class="border-2 border-gold inline-flex items-center justify-center font-header-sans py-2 px-4 mr-2 md:px-12 md:my-5 md:mr-2 text-gold bg-cream rounded-full hover:bg-gold/80 hover:text-cream transition text-xs md:text-md" href="https://www.fresha.com/a/sage-and-stone-wellness-edinburgh-rejuv-skin-clinic-242-queensferry-road-wglpk94f/booking?cartId=bb6f21c7-a733-419d-bdcc-bcdd4b9dca36" target="_blank">book</a>
        </div>
    </div>

    <!-- Burger button (mobile) -->
    <button
      id="menuBtn"
      class="lg:hidden inline-flex items-center justify-center rounded p-2 text-golddark absolute top-8 right-8"
      aria-controls="mobileMenu"
      aria-expanded="false"
      aria-label="Open menu"
      type="button"
    >
      <!-- Icon: 3 lines -->
      <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M4 6h16M4 12h16M4 18h16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </button>
  </div>

  <!-- Mobile menu panel -->
  <nav
    id="mobileMenu"
    class="md:hidden hidden border-t px-4 py-4"
    aria-label="Mobile"
  >
    <div class="flex flex-col gap-6 pt-6 pb-8">
      <a href="/about" class="py-2 text-lg text-center tracking-wide text-golddark uppercase hover:opacity-70 transition">About</a>
      <a href="/services" class="py-2 text-lg text-center tracking-wide text-golddark uppercase hover:opacity-70 transition">Services</a>
      <a href="/findus" class="py-2 text-lg text-center tracking-wide text-golddark uppercase hover:opacity-70 transition">Find Us</a>
      <a href="/contact" class="py-2 text-lg text-center tracking-wide text-golddark uppercase hover:opacity-70 transition">Contact</a>
      <a href="/book" class="py-2 text-lg text-center tracking-wide text-golddark border border-golddark rounded-full uppercase hover:opacity-70 transition">Book Now</a>
    </div>
  </nav>
</section>


<!-------------image banner ------------->

<section class="relative overflow-hidden min-h-80 lg:min-h-90 bg-brown bg-cover bg-center md:bg-left-top flex items-start px-5 md:px-20 pb-2" style="background-image: url('/assets/images/cream-banner.png')">

    <!----CONTENT ---->
    <div class="w-full max-w-3xl flex flex-col justify-start md:justify-end items-start px-2 md:px-6 py-6 md:p-[1rem] md:pl-[2.5rem] ">

        <h1 class=" text-brown/80 text-3xl sm:text-3xl md:text-4xl lg:text-5xl text-left font-header-serif pl-4 pt-12 lg:pt-32 pr-64 lg:pr-0 font-header-sans uppercase leading-10">not just a massage - a return to yourself</h1>
        <h2 class="text-brown italic text-md md:text-xl font-header-serif pl-4 pt-4">Luxury Holistic Massage in Edinburgh</h2>
        <!-- <h3 class="text-golddark font-script text-4xl">holistic bodywork to restore calm, clarity and connection</h3> -->
        
        <!----- CTA row ---->
        <div class="mt-1 md:mt-5 flex items-center gap-32">

            <a href="https://www.fresha.com/a/sage-and-stone-wellness-edinburgh-rejuv-skin-clinic-242-queensferry-road-wglpk94f/booking?cartId=bb6f21c7-a733-419d-bdcc-bcdd4b9dca36" target="_blank" class="inline-flex items-center justify-center font-header-sans py-2 px-4 ml-4 md:px-12 md:my-5 md:mr-2 text-cream bg-gold border-transparent border-2 rounded-full hover:bg-cream hover:border-2 hover:border-gold hover:text-gold transition text-xs md:text-md">BOOK NOW</a>
 
        </div>
      
    </div>

  </div>
</section>


<!---- image and text about section ---->

<section id="about" class=" lg:p-36 min-h-full bg-cream" >
    <div class="max-w-6xl mx-auto px-6">
        <div class="grid md:grid-cols-2 gap-10">
            <div class="pt-12 md:pt-8 lg:pt-0">
                <img class="w-full max-w-md aspect-portrait rounded-3xl" src="/assets/images/sage-treatment-room.PNG">
            </div>
            <div class="pr-5 pb-8 lg:pb-0">
                <h1 data-aos="fade-right" data-aos-duration="1500" class="text-golddark text-shadow font-header-serif text-2xl sm:text-3xl md:text-4xl text-left pr-2 pt-6 pb-4 font-header-sans uppercase">welcome to <br> sage & stone</h2>
                <h2 class="text-brown text-shadow text-2xl md:text-3xl text-left pr-2 pb-10 font-script" >Why us?</h3>
                <p class="text-brown font-header-sans leading-8 pb-8 md:pb-2">At Sage & Stone Wellness, each treatment is a gentle pause - an opportunity to slow down, breathe deeply, and reconnect with yourself. 
                <span class="text-golddark italic font-bold font-header-sans leading-8 pb-2 ">Every session is thoughtfully designed to restore balance, ease tension, and bring you back to a place of calm and clarity.</span> Rooted in nature and inspired by the simple act of self-care, Sage & Stone offers a peaceful spaceto rest and realign - a reminder that taking time for yourself isn’t selfish, it’s essential.</p>
                <a class="inline-flex items-center justify-center uppercase tracking-wide border-2 border-gold font-header-sans py-2 px-4 mr-2 md:px-12 md:my-10 md:mr-2 text-gold bg-cream rounded-full hover:bg-gold/80 hover:text-cream transition text-xs md:text-sm" href="#founder">meet the founder</a>
            </div>
        </div>
    </div>
</section>

<!---- banner video ---->

<section class="bg-brown min-h-full relative h-[520px] md:h-[640px] overflow-hidden">

    <video class="absolute inset-0 w-full h-full object-cover" autoplay muted loop playsinline preload="metadata"> <source src="{{'assets/images/hero.mp4' }}" type="video/mp4"> </video>

    <div class="absolute inset-0 bg-cream/10"> </div> 
    <p class="text-black/80 text-3xl absolute bottom-28 left-1/2 -translate-x-1/2 z-10 inline-flex items-center justify-center tracking-wide font-script">Ready to experience it?</p>
    <a class="absolute bottom-12 left-1/2 -translate-x-1/2 z-10 inline-flex items-center justify-center uppercase tracking-wide font-header-sans py-3 px-8 text-cream bg-gold rounded-full hover:bg-gold/80 transition text-xs md:text-sm" href="https://www.fresha.com/a/sage-and-stone-wellness-edinburgh-rejuv-skin-clinic-242-queensferry-road-wglpk94f/booking?cartId=bb6f21c7-a733-419d-bdcc-bcdd4b9dca36" target="_blank" rel="noopener">book now</a>  
   

</section>

<!-------- Testimonials pull in from data file -------> 


<section class="bg-goldlight/50  min-h-50">
    <div class="p-5p text-center">
        <h2 class="py-10 text-golddark text-3xl md:text-5xl font-serif ">What our <span class="text-brown/50 font-serif italic font-semibold">clients</span> say</h2>
        <div class="slider text-center">
        {% for item in site.data.reviews %}
            <div class="max-w-[18rem] md:max-w-[48rem] text-golddark">
                <p class="p-5 text-brown">{{item.review}}</p>
                <p class="pb-10 text-golddark">- {{item.name}}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<!---- scroll gallery - treatments - desktop ---->

<section id="services" class="bg-cream p-20 min-h-full hidden lg:block">

    <h3 class="text-golddark capitalize text-3xl pb-24 px-36 mr-2 ">our treatments</h3>
    <div class="max-w-7xl mx-auto px-6">
        <div class="flex gap-6 lg:gap-8 min-h-40 overflow-x-auto scroll-smooth snap-x snap-mandatory text-golddark text-center pr-6">
            <div class="snap-start shrink-0 basis-[80%] sm:basis-[48%] lg:basis-[calc((100%-4rem)/3)]">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center justify-center px-6 text-center text-brown">
                        <div>
                            <p class="max-w-[260px] leading-relaxed text-sm mb-4">
                                A massage like no other, this ritual combines deep stretching and sculpting techniques to release tension from the face, neck, and head. Meditative aromatherapy oils calm the senses while warm oil is gently poured through the hair for profound nourishment and relaxation.</p>
                                <p class="max-w-[260px] leading-relaxed text-sm">Gua Sha massage restores flow and definition, while ice balls refresh lift, tones and revitalise the skin. Ideal for those experiencing TMD, tinnitus, or stress-related tightness from desk-based lifestyles, this ritual eases deep-rooted tension, clears mental fog, and leaves you feeling balanced, light, and renewed.</p>
                            </div>
                    </div>
                    <img class="relative aspect-portrait-tall rounded-full object-cover object-center hover:opacity-5 transition-all" src="/assets/images/headmassage_Preview.jpeg">
                </div>
                <p class="p-10">SACRED HEADSPACE RITUAL</p>
            </div>
            
            <div class="snap-start shrink-0 basis-[80%] sm:basis-[48%] lg:basis-[32%]">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center justify-center px-6 text-center text-brown"">
                        <div>
                            <p class="max-w-[260px] leading-relaxed text-sm mb-4">
                             Surrender to stillness with this deeply soothing full body ritual inspired by the healing traditions of Bali. Warm aromatic oils are gently poured over the body, followed by soft, rhythmic strokes that flow like waves across the skin. This slow, meditative massage calms the nervous system, quiets a busy mind, and invites a profound state of rest. </p>
                            <p class="max-w-[260px] leading-relaxed text-sm ">The ritual includes a nurturing face and scalp treatment to heighten relaxation and release lingering tension. For those seeking deeper muscular relief, warm basalt stones may be incorporated—melting away tightness while the sublime oils of Shanti Wellness nourish the body and balance the senses.</p>
                        </div>
                    </div>
                    <img class="relative aspect-portrait-tall rounded-full object-cover object-center hover:opacity-5 transition-all" src="/assets/images/oilpour2_Preview.jpeg">
                </div>
                <p class="p-10">BALINESE MASSAGE</p>
            </div>

            <div class="snap-start shrink-0 basis-[80%] sm:basis-[48%] lg:basis-[32%]">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center justify-center px-6 text-center text-brown"">
                        <div>
                            <p class="max-w-[260px] text-sm leading-relaxed mb-4">
                            Root yourself in calm with this deeply restorative full body ritual designed to realign energy and restore harmony throughout the body. Warm basalt stones are placed on key chakra points, their heat gently easing muscle tension while encouraging energetic flow. Using aromatic oils from Shanti Wellness, your therapist performs slow, grounding massage techniques that calm the nervous system and nurture a profound sense of balance.</p>
                            <p class="max-w-[260px] text-sm leading-relaxed">This ritual reconnects body, mind, and spirit—dissolving stress, grounding scattered energy, and awakening inner stillness. Perfect for those seeking deep release, chakra alignment, and a renewed connection to self.</p>
                        </div>
                    </div>
                    <img class="relative aspect-portrait-tall rounded-full object-cover object-center hover:opacity-5 transition-all"  src="/assets/images/hotstone_Preview.jpeg">
                </div>
                <p class="p-10">GROUNDING STONE RITUAL</p>
            </div>

            <div class="snap-start shrink-0 basis-[80%] sm:basis-[48%] lg:basis-[32%]">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center justify-center px-6 text-center text-brown"">
                        <div>
                            <p class="max-w-[260px] text-sm leading-relaxed mb-4">This transformative treatment combines powerful deep-tissue techniques with guided stretching to unlock deep-rooted tension and restore equilibrium throughout the body. Expert moves target areas of muscular tightness, improving mobility, releasing built-up stress, and encouraging natural realignment.</p>
                            <p class="max-w-[260px] text-sm leading-relaxed">Ideal for those who train at the gym, practice sports, or carry chronic tension, this massage works beyond the surface to free the body, enhance recovery, and leave you feeling lighter, more flexible, and deeply restored..</p>
                        </div>
                    </div>
                    <img class="relative aspect-portrait-tall rounded-full object-cover object-center hover:opacity-5 transition-all" src="/assets/images/deeptissue_Preview.jpeg">
                </div>
                <p class="p-10">STRETCH AND RELEASE DEEP MUSCULAR</p>
            </div>
            <div class="snap-start shrink-0 basis-[80%] sm:basis-[48%] lg:basis-[32%]">
                <div class="relative">
                    <div class="absolute inset-0 flex items-center justify-center px-6 text-center text-brown"">
                        <div>
                            <p class="max-w-[260px] text-sm leading-relaxed mb-4">At Sage & Stone Wellness, we understand that every body and every day is different. Instead of choosing from a set menu, you simply select the amount of time you’d like to spend in treatment, and together we will create a personalised experience to suit your needs in that moment.</p>
                            <p class="max-w-[260px] text-sm leading-relaxed">Whether you are seeking deep muscular release, soothing relaxation, energy balance, or a combination of techniques, I will draw upon my full range of therapies to design a ritual that nurtures your body, calms your mind, and restores balance.</p>
                        </div>
                    </div>
                    <img class="relative aspect-portrait-tall rounded-full object-cover object-center hover:opacity-5 transition-all" src="/assets/images/sparoom3_Preview.jpeg">
                </div>
                <p class="p-10">OUR TIME YOUR RITUAL</p>
            </div>
        </div>
    <a class="inline-flex items-center justify-center uppercase tracking-wide border-2 border-gold font-header-sans py-2 px-4 mr-2 md:px-12 md:my-10 md:mr-2 text-gold bg-cream rounded-full hover:bg-gold/80 hover:text-cream transition text-xs md:text-sm" href="https://www.fresha.com/a/sage-and-stone-wellness-edinburgh-rejuv-skin-clinic-242-queensferry-road-wglpk94f/booking?cartId=bb6f21c7-a733-419d-bdcc-bcdd4b9dca36" target="_blank">book now</a>
    

</section>


<!----------Services Mobile ------->

<section id="services" class="bg-cream p-20 min-h-full lg:hidden">

    <h3 class="text-golddark capitalize font-4xl md:font-5xl pb-10 px-4">our treatments</h3>
    <div class="max-w-7xl mx-auto px-6">
        <div class="flex gap-6 lg:gap-8 min-h-20 overflow-x-auto scroll-smooth snap-x snap-mandatory text-golddark text-center pr-6">
            <div onclick="this.nextElementSibling.showModal()" class="snap-start shrink-0 basis-[80%] sm:basis-[48%] lg:basis-[calc((100%-4rem)/3)]">
                <div class="relative">
                    <img class="relative aspect-portrait-tall rounded-full object-cover object-center hover:opacity-20 transition-all" src="/assets/images/headmassage_Preview.jpeg">
                </div>
                <p class="p-10 cursor-pointer">SACRED HEADSPACE RITUAL</p>
            </div>
            <dialog>
                <div class="p-10">
                    <p class="max-w-[260px] leading-relaxed text-sm space-y-4 mb-4">
                        A massage like no other, this ritual combines deep stretching and sculpting techniques to release tension from the face, neck, and head. Meditative aromatherapy oils calm the senses while warm oil is gently poured through the hair for profound nourishment and relaxation.</p>
                        <p class="max-w-[260px] leading-relaxed text-sm space-y-4">Gua Sha massage restores flow and definition, while ice balls refresh lift, tones and revitalise the skin. Ideal for those experiencing TMD, tinnitus, or stress-related tightness from desk-based lifestyles, this ritual eases deep-rooted tension, clears mental fog, and leaves you feeling balanced, light, and renewed.</p>
                  <!-- 
                  4) Finally we add a closing button. This is just a span with an onclick event that will close the dialog.  
                  -->
                  <span class="closingX" onclick="this.parentElement.parentElement.close()">X</span>
                </div>
              </dialog>
            
              <div onclick="this.nextElementSibling.showModal()" class="snap-start shrink-0 basis-[80%] sm:basis-[48%] lg:basis-[calc((100%-4rem)/3)]">
                <div class="relative">
                    <img class="relative aspect-portrait-tall rounded-full object-cover object-center hover:opacity-20 transition-all" src="/assets/images/oilpour2_Preview.jpeg">
                </div>
                <p class="p-10 cursor-pointer">BALINESE MASSAGE</p>
            </div>
            <dialog>
                <div class="p-10">
                    <p class="max-w-[260px] leading-relaxed text-sm space-y-4 mb-4">
                        Surrender to stillness with this deeply soothing full body ritual inspired by the healing traditions of Bali. Warm aromatic oils are gently poured over the body, followed by soft, rhythmic strokes that flow like waves across the skin. This slow, meditative massage calms the nervous system, quiets a busy mind, and invites a profound state of rest.</p>
                        <p class="max-w-[260px] leading-relaxed text-sm space-y-4">The ritual includes a nurturing face and scalp treatment to heighten relaxation and release lingering tension. For those seeking deeper muscular relief, warm basalt stones may be incorporated—melting away tightness while the sublime oils of Shanti Wellness nourish the body and balance the senses.</p>
                  <!-- 
                  4) Finally we add a closing button. This is just a span with an onclick event that will close the dialog.  
                  -->
                  <span class="closingX" onclick="this.parentElement.parentElement.close()">X</span>
                </div>
            </dialog>

            <div onclick="this.nextElementSibling.showModal()" class="snap-start shrink-0 basis-[80%] sm:basis-[48%] lg:basis-[calc((100%-4rem)/3)]">
                <div class="relative">
                    <img class="relative aspect-portrait-tall rounded-full object-cover object-center hover:opacity-20 transition-all" src="/assets/images/hotstone_Preview.jpeg">
                </div>
                <p class="p-10 cursor-pointer">GROUNDING STONE RITUAL</p>
            </div>
            <dialog>
                <div class="p-10">
                    <p class="max-w-[260px] leading-relaxed text-sm space-y-4 mb-4">
                        Root yourself in calm with this deeply restorative full body ritual designed to realign energy and restore harmony throughout the body. Warm basalt stones are placed on key chakra points, their heat gently easing muscle tension while encouraging energetic flow. Using aromatic oils from Shanti Wellness, your therapist performs slow, grounding massage techniques that calm the nervous system and nurture a profound sense of balance.</p>
                        <p class="max-w-[260px] leading-relaxed text-sm space-y-4">This ritual reconnects body, mind, and spirit—dissolving stress, grounding scattered energy, and awakening inner stillness. Perfect for those seeking deep release, chakra alignment, and a renewed connection to self.</p>
                  <!-- 
                  4) Finally we add a closing button. This is just a span with an onclick event that will close the dialog.  
                  -->
                  <span class="closingX" onclick="this.parentElement.parentElement.close()">X</span>
                </div>
            </dialog>
            
            <div onclick="this.nextElementSibling.showModal()" class="snap-start shrink-0 basis-[80%] sm:basis-[48%] lg:basis-[calc((100%-4rem)/3)]">
                <div class="relative">
                    <img class="relative aspect-portrait-tall rounded-full object-cover object-center hover:opacity-20 transition-all" src="/assets/images/deeptissue_Preview.jpeg">
                </div>
                <p class="p-10 cursor-pointer">STRETCH AND RELEASE DEEP MUSCULAR</p>
            </div>
            <dialog>
                <div class="p-10">
                    <p class="max-w-[260px] leading-relaxed text-sm space-y-4 mb-4">
                        This transformative treatment combines powerful deep-tissue techniques with guided stretching to unlock deep-rooted tension and restore equilibrium throughout the body. Expert moves target areas of muscular tightness, improving mobility, releasing built-up stress, and encouraging natural realignment.</p>
                        <p class="max-w-[260px] leading-relaxed text-sm space-y-4">Ideal for those who train at the gym, practice sports, or carry chronic tension, this massage works beyond the surface to free the body, enhance recovery, and leave you feeling lighter, more flexible, and deeply restored.</p>
                  <!-- 
                  4) Finally we add a closing button. This is just a span with an onclick event that will close the dialog.  
                  -->
                  <span class="closingX" onclick="this.parentElement.parentElement.close()">X</span>
                </div>
            </dialog>

            <div onclick="this.nextElementSibling.showModal()" class="snap-start shrink-0 basis-[80%] sm:basis-[48%] lg:basis-[calc((100%-4rem)/3)]">
                <div class="relative">
                    <img class="relative aspect-portrait-tall rounded-full object-cover object-center hover:opacity-20 transition-all" src="/assets/images/sparoom3_Preview.jpeg">
                </div>
                <p class="p-10 cursor-pointer">OUR TIME YOUR RITUAL</p>
            </div>
            <dialog>
                <div class="p-10">
                    <p class="max-w-[260px] leading-relaxed text-sm space-y-4 mb-4">
                        At Sage & Stone Wellness, we understand that every body and every day is different. Instead of choosing from a set menu, you simply select the amount of time you’d like to spend in treatment, and together we will create a personalised experience to suit your needs in that moment.</p>
                        <p class="max-w-[260px] leading-relaxed text-sm space-y-4">Whether you are seeking deep muscular release, soothing relaxation, energy balance, or a combination of techniques, I will draw upon my full range of therapies to design a ritual that nurtures your body, calms your mind, and restores balance.</p>
                  <!-- 
                  4) Finally we add a closing button. This is just a span with an onclick event that will close the dialog.  
                  -->
                  <span class="closingX" onclick="this.parentElement.parentElement.close()">X</span>
                </div>
            </dialog>
            
        </div>
    <a class="inline-flex items-center justify-center uppercase tracking-wide border-2 border-gold font-header-sans py-2 px-4 mr-2 md:px-12 md:my-10 md:mr-2 text-gold bg-cream rounded-full hover:bg-gold/80 hover:text-cream transition text-xs md:text-sm" href="https://www.fresha.com/a/sage-and-stone-wellness-edinburgh-rejuv-skin-clinic-242-queensferry-road-wglpk94f/booking?cartId=bb6f21c7-a733-419d-bdcc-bcdd4b9dca36" target="_blank">book now</a>
    

</section>

<!---- meet Claire ---->

<section id="founder" style="background-image: url('/assets/images/cream-banner.png')" class="bg-image min-h-full">

    <div class="grid mx-auto lg:grid-cols-2 gap-20 p-10 md:p-48 bg-cream min-h-80">
        <div class="flex justify-center lg:mx-0">
            <img class="w-full max-w-md aspect-portrait rounded-t-full " src="/assets/images/claire-headshot.JPG">
        </div>
        <div class="text-golddark max-w-100 h-fit sticky top-0">
            <h2 class="text-golddark text-shadow font-header-serif text-2xl sm:text-3xl lg:text-4xl text-left pr-2 pt-6 pb-2 font-header-sans uppercase">meet Claire</h2>
            <h2 class="text-brown text-xl font-header-serif pb-8">20+ Years Experience | 5-Star Spa Specialist</h2>
            <p class="leading-8 py-2 font-body-sans">With over 20 years of experience in some of the UK and Europe’s most prestigious five-star spas, Claire Vacek is known for her intuitive touch, deep understanding of the body, and wholehearted approach to wellbeing.</p>
            <p class="leading-8 py-2 font-body-sans">Claire created Sage & Stone Wellness as a place where clients feel truly cared for - where every treatment is guided by genuine empathy and an understanding that true wellbeing comes from restoring balance at its roots.</p>
            <p class="leading-8 py-2 font-body-sans">Through mindful touch, grounding techniques, and tailored rituals, she helps each client find a sense of calm, clarity, and reconnection that lingers long after the treatment ends.</p>
        </div>
    </div>

</section>


<!---- text with CTA ---->

<section class="  bg-cream text-golddark">
    <div class="grid md:grid-cols-12 py-20 md:py-12 md:px-28 lg:px-8 lg:py-20 mx-auto max-w-6xl">
        <div class="font-body-sans col-span-6" data-aos="fade-up" data-aos-duration="2000">
            <p class="leading-8 pb-4 capitalize">Imagine wandering through a Glen at sunrise <br> — <br>the scent of wild sage warming in the light,<br>the touch of smooth river stones beneath your feet,<br>the hush of nature settling into perfect harmony.</p>

            <p class="leading-8 pb-4 capitalize">Here, the earth speaks in quiet ways.<br>to breathe slower,to soften your shoulders,<br>to return to the rhythm you were always meant to live in</p>
            
            <p class="leading-8 pb-4 capitalize">At Sage & Stone Wellness, we honour these moments.<br>We invite you to reconnect with the natural world,<br> 
                with your body,<br>and with the steady, grounded peace that’s been 
                waiting for you.</p>
            <p class="leading-8 pb-4 capitalize">
                Come back to yourself.
            </p>
            <p class="leading-8 pb-4 capitalize">
                Come back to the earth.</p>
        </div>
        <div class="col-span-2"></div>
        <div class="text-right font-body-sans col-span-4 mr-4 pt-14 md:pt-0" data-aos="fade-left" data-aos-deley="250" data-aos-duration="2000">
            <h2 class="text-2xl pb-10 uppercase leading-10">find a moment <br> to come back <br> to yourself</h2>
            <a class="border-gold border-2 uppercase text-xs md:text-sm text-gold py-2 px-4 rounded-full transition hover:bg-gold/80 hover:text-cream" href="https://www.fresha.com/a/sage-and-stone-wellness-edinburgh-rejuv-skin-clinic-242-queensferry-road-wglpk94f/booking?cartId=bb6f21c7-a733-419d-bdcc-bcdd4b9dca36" target="_blank">book now</a>
        </div>
    </div>
   

</section>


<!---- -FAQ Section (F) ---->
<section class="lg:p-24 bg-goldlight/50 font-body-sans">

    <div class="p-10 lg:p-20">
        <h4 class="px-2 pb-20 capitalize text-2xl text-brown">let's answer your questions</h4>
        <div class="space-y-4">
            {% for item in site.data.faq %}
            <div class="bg-cream border-2 border-goldlight rounded-sm md:rounded-full flex justify-between items-center pr-4 md:px-12 expandButton cursor-pointer"  data-target-button="{{forloop.index}}">
                <button class=" flex justify-between w-full  border-1 p-4"><h2 class="text-left text-brown tracking-wider">Q. {{item.question}}</h2></button>
                <span class="faq-sign"></span>
            </div>
            <div class="justify-between w-full p-4 expandable hidden bg-brown/50 border-1 border-brown rounded-sm md:rounded-full" data-target-more="{{forloop.index}}">
                <p class="text-left text-cream leading-8 tracking-wider md:px-14">A. {{item.answer}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
  

<!---- map section ---->

<section id="find" class="bg-cream p-5 md:p-10 lg:p-20">

    <div class="grid lg:grid-cols-2 lg:p-20">
        <div class="p-10 hidden lg:block">
            <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2233.522394786849!2d-3.2522955231054858!3d55.95764947316076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c779856b0d37%3A0x2399eb23e52f4180!2sRejuv%20Skin%20Clinic!5e0!3m2!1sen!2sus!4v1769024381390!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
      
        <div class="py-12 pl-4  lg:py-10 md:pr-8 text-gold">
            <h2 class="py-8 md:pb-10 capitalize text-4xl font-header-serif ">how to get to us</h2>
            
            <h3 class="py-5 capitalize text-lg font-body-sans">parking</h3>
            <p class="py-2 font-body-sans">On-street parking may be available on Queensferry Road itself and nearby side streets, but restrictions apply during busy daytime hours</p>
            <h3 class="py-5 capitalize text-lg font-body-sans">bus route</h3>
            <p class="py-2 font-body-sans">Lothian and Stagecoach buses stop on or near Queensferry Road, which is the main road where the clinic is located. Key routes serving stops close by include: 38, 43, 47 and X55/X59 express buses.</p>
            <p class="font-body-sans hidden md:block">The closest stops are typically at Craigleith Road (about a 1 minute walk) or Groathill Road South (roughly 8–10 minutes on foot), depending on which direction you’re coming from.</p>
        </div>
    </div>
    <div class="p-5 lg:hidden">
        <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2233.522394786849!2d-3.2522955231054858!3d55.95764947316076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c779856b0d37%3A0x2399eb23e52f4180!2sRejuv%20Skin%20Clinic!5e0!3m2!1sen!2sus!4v1769024381390!5m2!1sen!2sus" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    </div>

</section>

<!---- footer ---->

<footer class="bg-cream min-h-40 border-t border-2 border-gold p-2 lg:p-0">

    <div class="grid lg:grid-cols-3 p-5 lg:px-40 lg:py-20">
        <div class="pb-6 lg:pb-0 text-center lg:text-left">
            <a href="/index.html"><img src="/assets/images/sage-and-stone-logo-final-website.svg" class="h-32 w-auto mx-auto lg:mx-0"></a>
            <h4 class="font-header-serif text-3xl uppercase text-golddark text-shadow pt-16 pb-6">sage & stone wellness</h4>
            <p class="uppercase text-gold pb-6 font-body-sans">rejuv skin clinic, 242 queensferry road, <br>edinburgh, eh4 2bp</p>
            <a class="uppercase text-gold block pb-6 font-body-sans" href="mailto:info@sageandstonewellness.co.uk" target="_blank"> info@sageandstonewellness.co.uk</a>
            <a class="text-gold block font-body-sans" href="tel:+447745321641">07745321641</a>
        </div>
        <div class="flex justify-center items-end mb-4 hidden lg:block">
            <a class="bg-gold text-cream icon-button" target="_blank" rel="noopener" href="https://www.instagram.com/sageandstonewellnessedinburgh"><i class="fa-brands fa-instagram" aria-label="View us on Instagram"></i></a>
            <a class="bg-gold text-cream icon-button" target="_blank" rel="noopener" href="https://www.facebook.com/share/1G2uiAwKTu/?mibextid=wwXlfr"><i class="fa-brands fa-facebook" aria-label="View us on Facebook"></i></a>
            <a class="bg-gold text-cream icon-button" target="_blank" rel="noopener" href="https://wa.me/447745321641"><i class="fa-brands fa-whatsapp" aria-label="Chat with us on Whatsapp"></i></a>
        </div>
        <div class="font-body-sans">
            <div class="flex lg:justify-end pt-6 lg:pt-0 ">
                <a class="bg-gold rounded-full text-cream uppercase px-8 py-2 mx-auto lg:mx-0" href="https://www.fresha.com/a/sage-and-stone-wellness-edinburgh-rejuv-skin-clinic-242-queensferry-road-wglpk94f/booking?cartId=bb6f21c7-a733-419d-bdcc-bcdd4b9dca36" target="_blank">book</a>
            </div>
            <h5 class="uppercase text-gold pt-16 pb-2 text-center lg:text-right">hours</h5>
            <p class="text-gold pb-4 text-center lg:text-right">Monday 10am - 8pm</p>
            <h5 class="uppercase text-gold pt-8 pb-2 text-center lg:text-right">specialities</h5>
            <p class="text-gold capitalize pb-2 text-center lg:text-right">womens health, holistic health, therapeutic <br>massage, wellbeing, relaxation</p>
            <div class="pt-6 flex justify-end">
                <a class="uppercase text-gold block pb-6 mx-auto lg:mx-0" href="https://google.com/maps/place/Rejuv+Skin+Clinic/data=!4m2!3m1!1s0x0:0x2399eb23e52f4180?sa=X&ved=1t:2428&ictx=111">find us</a>
            </div>
            <div class="flex justify-end">
                <a class="uppercase text-gold block mx-auto lg:mx-0" href="#navbar">back to top</a>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-end my-4 lg:hidden">
        <a class="bg-gold text-cream icon-button" target="_blank" rel="noopener" href="https://www.instagram.com/sageandstonewellnessedinburgh"><i class="fa-brands fa-instagram" aria-label="View us on Instagram"></i></a>
        <a class="bg-gold text-cream icon-button" target="_blank" rel="noopener" href="https://www.facebook.com/share/1G2uiAwKTu/?mibextid=wwXlfr"><i class="fa-brands fa-facebook" aria-label="View us on Facebook"></i></a>
        <a class="bg-gold text-cream icon-button" target="_blank" rel="noopener" href="https://wa.me/447745321641"><i class="fa-brands fa-whatsapp" aria-label="Chat with us on Whatsapp"></i></a>
    </div>

</footer>

<section class="bg-gold text-cream/80 text-sm font-body-sans">
    <div>
        <p class="text-center">Copyright 2025. Sage and Stone Wellness. <a href="/privacy-policy.html">Privacy Policy.</a> <a href="/termsconditions.html">Terms of Service.</a></p>
        <p class="text-center">Web Design by <a target="_blank" href="https://www.coriandercreatives.com">Coriander Creatives</a></p>
    </div>
</section>