<section class="relative min-h-screen bg-black bg-cover bg-center flex items-end" style="background-image: url('/assets/images/splash-sands.jpeg')">
  <div class="image-overlay absolute inset-0 flex ">

    <img src="/assets/images/ss-favicon.svg" alt="sage and stone logo" class="absolute left-12 top-12 h-24" >

    <div class="relative w-full max-w-6xl flex-col justify-start align-bottom text-left">
        <h2 class="text-white text-5xl md:text-6xl text-left font-semibold">Restore Balance. <br> Reconnect.</h2>
        <a href="https://www.fresha.com/a/sage-and-stone-wellness-edinburgh-rejuv-skin-clinic-242-queensferry-road-wglpk94f/booking?cartId=bb6f21c7-a733-419d-bdcc-bcdd4b9dca36" class="inline-block py-2 px-6 mt-5 text-white bg-black rounded-full hover:bg-black/80 transition">Book</a>
    </div>

    <nav class="absolute left-5 bottom-5 text-white">
      <a class="p-3" href="https://www.instagram.com/sageandstonewellnessedinburgh/">Instagram.</a>
    </nav>

  </div>
</section>