<section class="image bg-black bg-cover bg-center h-screen text-center flex flex-col items-stretch" style="background-image: url('/assets/images/splash-sands.jpeg')">
  <div class="image-overlay">
    <div>
        <h1 class="absolute left-0 top-0 p-5 text-2xl font-semibold text-white">Sahe & Stone Wellness</h1>
      <a href="mailto:claire@sageandstone.co.uk" class="absolute right-0 top-0 py-2 px-6 m-5 text-white bg-black rounded-full">Contact</a>
    </div>
    <div class="flex flex-grow items-center justify-center">
      <h2 class="text-white text-7xl font-semibold">Restore Balance. Reconnect.</h2>
    </div>
    <nav class="absolute right-0 bottom-0 p-10 text-white">
      <a class="p-3" href="https://www.instagram.com/sageandstonewellnessedinburgh/">Instagram.</a>
    </nav>
  </div>
</section>