<section class="relative min-h-screen bg-black bg-cover bg-[19%_50%] md:bg-center flex items-end" style="background-image: url('/assets/images/splash-sands.jpeg')">
  <div class="image-overlay absolute inset-0 flex ">

    <img src="/assets/images/sage-and-stone-final-logo.svg" alt="sage and stone logo" class="absolute left-36 md:left-14 top-12 h-24 md:h-28" >

    <div class="relative w-full max-w-6xl flex-col justify-start align-end text-left px-6 py-4 md:p-[4rem] mb-10 md:mb-20">
        <h2 class="text-cream text-3xl md:text-5xl text-left font-header-sans">Restore Balance. <br> Reconnect.</h2>
        <a href="https://www.fresha.com/a/sage-and-stone-wellness-edinburgh-rejuv-skin-clinic-242-queensferry-road-wglpk94f/booking?cartId=bb6f21c7-a733-419d-bdcc-bcdd4b9dca36" target="_blank" class="font-header-sans inline-block py-2 px-12 mt-5 text-cream bg-gold rounded-full hover:bg-gold/80 transition">BOOK NOW</a>
    </div>

    <nav class="absolute right-4 bottom-11 md:left-14 md:bottom-10 text-cream">
      <a href="https://www.instagram.com/sageandstonewellnessedinburgh/" target="_blank" class="p-3 text-4xl "
    >
      <i class="fa-brands fa-instagram hover:bg-gold/10 hover:text-gold transition "></i>
    </a>
    </nav>

  </div>
</section>

<section class="relative min-h-[100svh] bg-black bg-cover bg-[82%_50%] md:bg-center flex items-end" style="background-image: url('/assets/images/sage-and-stone-background.jpeg')">
  <div class="image overlay absolute inset-0 flex ">
    <div class="absolute top-5 left-1/2 -translate-x-1/2 md:top-6 md:left-32">
      <img src="/assets/images/sage-and-stone-final-logo.svg" alt="sage and stone" class=" md:h-32 h-24" >
    </div>

    <!----CONTENT ---->
    <div class="w-full max-w-6xl flex flex-col justify-end items-start text-left px-6 py-4 md:p-[4rem] mb-10 md:mb-12">

        <h2 class="text-[#6d765b] text-shadow-smnp text-3xl sm:text-4xl md:text-5xl text-left px-2 font-header-sans ">Restore Balance. <br> Reconnect.</h2>
        
        <!----- CTA row ---->
        <div class="mt-5 flex items-center gap-32">

            <a href="https://www.fresha.com/a/sage-and-stone-wellness-edinburgh-rejuv-skin-clinic-242-queensferry-road-wglpk94f/booking?cartId=bb6f21c7-a733-419d-bdcc-bcdd4b9dca36" target="_blank" class="inline-flex items-center justify-center font-header-sans py-2 px-4 ml-2 md:px-12 md:my-5 md:mx-2 text-cream bg-gold rounded-full hover:bg-gold/80 transition text-xs md:text-md">BOOK NOW</a>
        
            <!--------Insta icon inline mobile ----->
            <a href="https://www.instagram.com/sageandstonewellnessedinburgh/" aria-label="instagram" target="_blank" class="p-3  text-4xl text-gold inline-flex items-center justify-center md:hidden align-middle leading-none">
              <i class="fa-brands fa-instagram hover:bg-gold/10 hover:text-gold/40 transition "></i>
            </a>

        </div>
    
        <!-----Insta icon desktop --->
        <a href="https://www.instagram.com/sageandstonewellnessedinburgh/" target="_blank" aria-label="Instagram" class="hidden md:flex
          absolute left-16 bottom-8 z-10 px-3 
          text-gold hover:text-gold/40 text-3xl">
  <i class="fa-brands fa-instagram"></i>
</a>
      
    </div>

  

  </div>
</section>