<section class="lg:grid grid-cols-2 min-h-[75vh] border border-golddark">
  <div></div>
  <div class="p-20">
    <form class="">
      <input type="text" id="name" name="name" placeholder="{{block.input-box-name-1}}" class="block w-full bg-light border-b placeholder:text-black placeholder:focus:text-gray-400 placeholder:uppercase placeholder:text-sm mb-4 focus:outline-none focus-visible:outline-none">
      <input type="email" id="Email" name="Email" class="block w-full bg-light border-b border-brown placeholder:text-black placeholder:focus:text-gray-400 placeholder:uppercase placeholder:text-sm mb-4 focus:outline-none focus-visible:outline-none" placeholder="{{block.input-box-name-2}}" required>
      <label for="Message" class="block uppercase text-sm text-black">{{block.input-box-name-3}}</label>
      <textarea id="Message" name="Message" class="block w-full bg-light border border-golddark mb-4 focus:outline-none focus-visible:outline-none resize-none" rows="6" maxlength="3000" required></textarea>
      <div class="text-right">
        <input type="submit" value="Send" class="border bg-brown text- py-2 px-8 uppercase text-sm">
      </div>
    </form>
  </div>
</section>

section id="contact" class="min-h-50 p-10p text-brown">
    <div class="grid xl:grid-cols-2 xl:space-x-32">
        <div>
            <h3 class="font-header-sans text-7xl pb-5p">Contact</h3>
             <form action="https://formspree.io/f/xeqygjwy" method="post">
                <label for="name">Name</label>
                    <input class="bg-white border-2 border-golddark py-1 px-2 w-full mb-5" type="text" id="name" name="name">
                    <label for="email">Email</label>
                    <input class="bg-white border-2 border-golddark py-1 px-2 w-full mb-5" type="email" id="email" name="email">
                    <label for="message">Message</label>
                    <textarea class="bg-white border-2 border-golddark py-1 px-2 w-full mb-5" type="text" id="message" name="message" rows="5"></textarea>
                    <input class="bg-golddark text-brown text-font-header-sans py-1 px-10 ml-auto" type="submit" value="send">
             </form>
        </div>
        
    </div>
</section>